*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  

.login{
    
  background: url('./pic2.jpg');
  background-repeat: no-repeat;
  width: 100% ;
  height: 650px;
  background-size: cover;
  opacity: .75;
  position: absolute;
}
form{
  position: absolute;
  height: 380px;
}
ul li{
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
